                         TMI Standard Rights/Rules
                         ~~~~~~~~~~~~~~~~~~~~~~~~~

        This document is intended to explain what rights or priviledges you
have on this MUD.  In many ways, MUDs are both games and virtual communities.
While some of your interactions here may seem to be very much a part of your
life, be aware that you are in fact treading on someone else's property.  
However, you do have some rights and terms to be aware of during your visit
here.  There are various issues which deserve clarification as regards the
way we handle them, and it's important for you to understand what duties the
administration here is responsible for.

Because of the length of some of the explanations, we have split the 
general help files up into seperate files, so as to make it easier
for you to find the topic you wish to read about.  See the index below.


help harassment -     This explains sexual harassment, harassing wizards, 
                      player disagreements, and abuse of wizard powers.  
                      It also tells you how these problems will be solved.

help privacy -        This explains privacy on a MUD (it does not truly exist)
                      for Wizards and Players.  It also explains what could
                      happen to the Wizard taking advantage of his power to
                      snoop.
               
help ownership -      This explains code ownership.  It also explains what
                      'code privacy' is.

help conduct -        This is pretty basic, explains to you that 'treat your
                      neighbour as you'd want to be treated' is a good policy.

help rules.specific - This explains the rules that are *specific* to
                      TMI-2.  All rules in these files are all intended
                      for TMI-2, but this file states the rules and rights
                      that are specifically for TMI-2.     
